@model PuntenTeller.Models.Point

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Point</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.exam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exam.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
